<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section,div{
            /*border: 2px solid black;*/
            display: flex;
            flex:1;
        }
    </style>
</head>
<body>
    <section>
        <div class="f1">facebook</div> <br>
        <div class="f2">instagram</div> <br>
        <div class="f3">twitter</div> <br>
        <div class="f4">snapshat</div>
    </section>
</body>
</html>